////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////

.page{
  //@include background-grid;
  margin: 0 auto;
  min-height: 100%;
  max-width: 990px;
  overflow: hidden;
}
