////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-menu-menu-footer-menu{
  ul{
    li{
      a{
        font-family: $font-normal-common;
        font-size: 14px;
        text-decoration: none;
        color: #ffffff;
      }
      &.active-trail,
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
