////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.menu-name-main-menu{
  background: #1a4266;
  ul{
    border-bottom: 1px solid #203c56;
    li{
      a{
        font-family: $font-normal-common;
        font-size: 16px;
        text-decoration: none;
        color: #ffffff;
      }
      &.active-trail,
      &:hover{
        background: #245078;
        -moz-border-radius: 0 2px 0 0;
        -webkit-border-radius: 0 2px 0 0;
        border-radius: 0 2px 0 0;
      }
    }
  }
  &.menu-level-2{
    background: #305b83;
    li{
      a{
        font-size: 14px;
      }
      &.active-trail{
        background: #3f719f;
      }
    }
  }
}
