#block-user-login {
  width: 340px;
  padding: 15px 20px 8px 20px;
}
#block-user-login ul {
  margin: 0;
  padding: 3px 0 9px;
}
#block-user-login .form-item {
  margin: 0 18px 6px 0;
  float: left;
  clear: left;
}
#block-user-login .form-item input {
  width: 173px;
  height: 25px;
  padding-left: 6px;
}
#block-user-login .form-actions {
  margin: 0;
}
#block-user-login .form-actions .form-submit {
  width: 108px;
  height: 25px;
}
