////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#page-title{
  margin: 0;
  padding: 8px 20px;
}
#block-block-13{
  .content p{
    margin: 0;
    a{
      float: right;
      display: inline-block;
      width: 65px;
      height: 24px;
      padding-left: 16px;
      position: absolute;
      right: 20px;
      top: -37px;
    }
  }
}