////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-block-12{
  .content{
    padding: 20px;
    min-height: 130px;
    p{
      margin: 0;
      width: 70%;
    }
  }
}