////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-block-11{
  @include breakpoint(max-width 989px){
    clear: both;
    .content{
      padding-bottom: 35px!important;
      p{
        display: inline-block;
        vertical-align: top;
        img{
          margin: 0 0 0 20px;
        }
      }
    }
  }
}