////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-block-11{
  @include breakpoint(max-width 989px){
    @include grid-span(4, 7, 10);
    //padding-bottom: 1000px;
    //margin-bottom: -1000px;
  }
  @include breakpoint(max-width 767px){
    @include grid-span(1, 1);
    width: 100%;
    clear: both;
    float: none;
    .content{
      padding-bottom: 35px!important;
      p{
        display: inline-block;
        vertical-align: top;
        img{
          margin: 0 0 0 20px;
        }
      }
    }
  }
  @include breakpoint(max-width 479px){
    .content{
      padding-bottom: 10px!important;
      p img{
        margin-left: 0;
      }
    }
  }

}