#block-block-12 .content {
  background: url("../images/house.png") 96% bottom no-repeat #f0fee3;
  border-top: 1px solid #ffffff;
  border-bottom: 10px solid #54bd00;
}
#block-block-12 .content p {
  font-size: 14px;
}
