////////////////////////
// Layouts Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All box model properties go here
////////////////////////
@import "singularitygs";

$grids: 1;
$grids: add-grid(259px 125px 125px 249px at 768px);
$grids: add-grid(259px 125px 125px 249px 232px at 990px);
$gutters: 0;
.page{
  @include background-grid;
  margin: 0 auto;
  min-height: 100%;
  max-width: 990px;
  overflow: hidden;

  @include breakpoint(min-width 990px){
    max-width: 990px;
  }
  @include breakpoint(max-width 989px){
    max-width: 768px;
  }
  @include breakpoint(max-width 767px){
    max-width: 640px;
  }
}
.main-wrapper{
  @include breakpoint(min-width 990px){
    @include grid-span(4, 1);
  }
  @include breakpoint(max-width 989px){
    @include grid-span(4, 1, 259px 125px 125px 249px);
  }
  border: 1px solid red;
}
.region-sidebar-second{
  @include breakpoint(max-width 989px){
    @include grid-span(4, 1, 259px 125px 125px 249px);
  }
  @include breakpoint(min-width 990px){
    @include grid-span(1, 5);
  }
  border: 1px solid red;
}
#header,
#footer{
  @include breakpoint(max-width 989px){
    @include grid-span(4, 1, 259px 125px 125px 249px);
  }
  @include breakpoint(min-width 990px){
    @include grid-span(5, 1);
  }
  clear: both;
  //overflow: hidden;
  border: 1px solid red;
}
.region-main-prefix-first{
  @include grid-span(1, 1, 259px 250px 249px);
  border: 1px solid green;
  //overflow: hidden;
  @include breakpoint(max-width 767px){
    @include grid-span(1, 1);
  }
}
.region-main-prefix-second{
  @include grid-span(1, 2, 259px 250px 249px);
  border: 1px solid green;
  //overflow: hidden;
  @include breakpoint(max-width 767px){
    @include grid-span(1, 1);
  }
}
.region-main-prefix-third{
  @include grid-span(1, 3, 259px 250px 249px);
  border: 1px solid green;
  //overflow: hidden;
  @include breakpoint(max-width 767px){
    @include grid-span(1, 1);
  }
}
#block-system-main{
  @include grid-span(3, 1, 259px 250px 249px);
  border: 1px solid green;
  //overflow: hidden;
  clear: both;
}
.region-main-suffix-first{
  @include grid-span(2, 1, 259px 125px 125px 249px);
  border: 1px solid green;
  overflow: hidden;
  @include breakpoint(max-width 767px){
    @include grid-span(1, 1);
  }
}
.region-main-suffix-second{
  @include grid-span(2, 3, 259px 125px 125px 249px);
  border: 1px solid green;
  //overflow: hidden;
  @include breakpoint(max-width 767px){
    @include grid-span(1, 1);
  }
}