////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-user-login{
  label{
    display: none;
  }
  input{
    background: $input-background;
    border: 0px;
    border-left: 1px solid #97aaba;
    border-top: 1px solid #97aaba;
    font-family: $font-normal-common;
    font-size: 14px;
    &[type="text"],
    &[type="password"]{
      color: $input-color;
    }
    &::-webkit-input-placeholder {
      color: $input-color;
    }
    &:-moz-placeholder {
      color: $input-color;
    }
  }
  ul{
    li{
      list-style: none;
      a{
        color: #feffff;
        font-family: $font-normal-common;
        font-size: 14px;
        &:hover{
          text-decoration: none;
        }
      }
    }
  }
  .form-submit{
    background: #2e93e1;
    color: #ffffff;
    font-family: $font-bold-common;
    font-size: 16px;
    font-weight: bold;
    border: none;
    @include rounded_corners(3px);
  }
}