////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.menu-name-main-menu{
  ul{
    margin: 0;
    padding: 0 0 0 20px;
    li{
      margin: 0;
      display: inline-block;
      padding: 5px 25px;
    }
  }
  &.menu-level-2{
    ul{
      padding: 0 0 0 10px;
    }
  }
}