.flexslider {
  margin: 0;
}
.flexslider .flex-control-nav {
  bottom: 0;
  height: 35px;
}
.flexslider .flex-control-nav li {
  margin: 9px 5px;
}
.flexslider .flex-control-nav li a {
  width: 15px;
  height: 15px;
}
.flexslider .flex-direction-nav {
  position: relative;
  top: -7px;
}
.flexslider .flex-direction-nav li a {
  width: 20px;
  height: 20px;
}
.flexslider .flex-direction-nav li a.flex-prev {
  left: 320px;
}
.flexslider .flex-direction-nav li a.flex-next {
  right: 320px;
}
.flexslider .field-name-body {
  position: absolute;
  top: 10px;
  padding-left: 20px;
}
.flexslider h5 {
  margin: 0;
}
.flexslider p {
  width: 45%;
}
