////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.main-prefix-wrapper{
  background: #fbfbf6;
}
.region-main-prefix-first .block,
.region-main-prefix-second .block
{
  border-right: 1px solid #deded3;
}
.region-main-prefix-first .block,
.region-main-prefix-second .block,
.region-main-prefix-third .block
{
  @include report_text_block ();
}
.region-main-prefix-first,
.region-main-prefix-second,
.region-main-prefix-third
{
  @include breakpoint(max-width 767px){
    border-bottom: 1px solid #deded3;
    border-right: none;
    padding: 20px 0 35px;
  }
}