////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.region-main-suffix-first,
.region-main-suffix-second{
  background: #f2f1eb;
}
@include breakpoint(max-width 767px){
  .region-main-suffix-first{
    border-bottom: 1px solid #deded3;
  }
}
@include breakpoint(max-width 479px){
  .region-main-suffix-first,
  .region-main-suffix-second
  {
    border-bottom: 0px solid #deded3;
  }
}