////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.flexslider{
  border: none;
  .flex-control-nav{
    background: url("../images/bg_slider_nav.png") left top repeat transparent;
    border-top: 1px solid #b9bcaa;
    border-bottom: 1px solid #d8d8cd;
    z-index: 100;
    li{
      a{
        background: url("../images/sprite.png") -7px -10px no-repeat transparent;
        box-shadow: none;
        @include rounded_corners (0);
        &.flex-active,
        &:hover{
          background: url("../images/sprite.png") -28px -10px  no-repeat transparent;
        }
      }
    }
  }
  .flex-direction-nav{
    z-index: 110;
    li a{
      &.flex-prev{
        background: url("../images/sprite.png") -4px -37px  no-repeat transparent;
       }
      &.flex-next{
        background: url("../images/sprite.png") -25px -37px  no-repeat transparent;
      }
      &:before{
        text-indent: 30px;
      }
    }
  }
  h5{
    font-family: $font-light-common;
    font-size: 32px;
    font-weight: normal;
  }
  p{
    font-size: 14px;
  }
}