////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.region-footer{
  padding: 20px 0 35px;
  @include breakpoint(max-width 989px){
    padding: 20px 140px 35px;
  }
  @include breakpoint(max-width 767px){
    padding: 20px 105px 35px;
  }
}