////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.region-main-prefix-first,
.region-main-prefix-second,
.region-main-prefix-third
{
  padding: 35px 0 45px;
  @include breakpoint(max-width 767px){
    padding: 20px 0 35px;
  }
}
.region-main-prefix-first .block,
.region-main-prefix-second .block,
.region-main-prefix-third .block
{
  @include report_text_block ();
}
@include breakpoint(max-width 479px){
  .region-main-prefix-first,
  .region-main-prefix-second,
  .region-main-prefix-third
  {
    padding: 20px 0 20px;
  }
}