////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

.flexslider{
  margin: 0;
  .flex-control-nav{
    bottom: 0;
    height: 35px;
    li{
      margin: 9px 5px;
      a{
        width: 15px;
        height: 15px;
      }
    }
  }
  .flex-direction-nav{
    position: relative;
    top: -7px;
    li a{
      width: 20px;
      height: 20px;
      &.flex-prev{
        left: 320px;
      }
      &.flex-next{
        right: 320px;
      }
      @include breakpoint(max-width 767px){
        &.flex-prev{
          left: 265px;
        }
        &.flex-next{
          right: 265px;
        }
      }
    }
  }
  .field-name-body{
    position: absolute;
    top: 10px;
    padding-left: 20px;
  }
  h5{
    margin: 0;
  }
  p{
    width: 45%;
  }
  @include breakpoint(max-width 480px){
    p{
      width: 100%;
    }
    .field-name-body{
      position: relative;
      top: 10px;
      padding-right: 20px;
      padding-bottom: 45px;
    }
  }
}