////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////
/*--------------common variables------------------------*/
$page-background: #e6ebee;
/*--------------common variables------------------------*/

/*--------------font variables------------------------*/
$font-normal-common: 'latoregular', arial, sans-serif;
$font-light-common: 'latolight', arial, sans-serif;
$font-bold-common: 'latobold', arial, sans-serif;
$title-color: #2e362d;
$text-color: #343931;
$link-color: #0974c7;
/*--------------end font variables--------------------*/

/*--------------form variables------------------------*/
$input-background: #d7e2e5;
$input-color: #343931;
/*--------------end form variables--------------------*/

