////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////
/*--------------font variables------------------------*/
$font-normal-common: 'latoregular', arial, sans-serif;
$font-light-common: 'latolight', arial, sans-serif;
$font-bold-common: 'latobold', arial, sans-serif;
/*--------------end font variables--------------------*/