////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-block-8{
  @include block-views-list();
  .view-field-title{
    font-weight: normal;
    padding: 0 0 6px;
    font-size: 16px;
  }
  .view-field-tag{
    color: $link-color;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}