////////////////////////
// Design Partials
//
// Separate your Layout from Design
// Build sub folders and partials in this folder, with everything being imported, in cascading order, into this file.
//
// All styling, non box model properties go here
////////////////////////

#block-block-12{
 .content{
   background: url("../images/house.png") 96% bottom no-repeat #f0fee3;
   border-top: 1px solid #ffffff;
   border-bottom: 10px solid #54bd00;
   @include breakpoint(max-width 767px){
     background: #f0fee3;
   }
   p{
     font-size: 14px;
   }
 }
}